* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  border: none;
  background-color: #009FBD;
  padding: 5px;
  color: #77037B;
  font-weight: bold;
}
button:hover {
  background-color: #0084bd;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #210062;
  padding: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card {
  width: 200px;
  padding: 10px;
  background-color: #F9E2AF;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #77037B;
}
.card:hover {
  background-color: #dec691;
}
.card img {
  width: 100%;
}

.digimon-image {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.digimon-image-large {
  width: 300px;
  flex: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.game-board {
  background-color: #F9E2AF;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.board-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #009FBD;
  justify-content: space-between;
  align-items: center;
}

.hunger-bar {
  height: 40px;
  width: 100%;
  border: solid 1px #009FBD;
  border-radius: 5px;
  overflow: hidden;
}

.hunger {
  height: 100%;
  background-color: #009FBD;
}

.evolve {
  display: flex;
  align-items: center;
  width: 100%;
  color: #77037B;
  gap: 10px;
}

.evolution-bar {
  height: 25px;
  width: 100%;
  border: solid 1px #77037B;
  border-radius: 5px;
  overflow: hidden;
}

.evolution {
  height: 100%;
  background-color: #77037B;
}

.eggs {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 370px;
  overflow: auto;
  justify-content: center;
  align-content: flex-start;
  background-color: #dec691;
  border-radius: 5px;
}

.egg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  margin: 5px;
}
.egg img {
  width: 50px;
}

.feed-btn {
  height: 40px;
  width: 100%;
}

.dig-1-level-1 {
  background-image: url("./images/digimons/1/level1.png");
}

.dig-1-level-2 {
  background-image: url("./images/digimons/1/level2.png");
}

.dig-1-level-3 {
  background-image: url("./images/digimons/1/level3.png");
}

.dig-1-level-4 {
  background-image: url("./images/digimons/1/level4.png");
}

.dig-1-level-5 {
  background-image: url("./images/digimons/1/level5.png");
}

.dig-1-level-6 {
  background-image: url("./images/digimons/1/level6.png");
}

.dig-2-level-1 {
  background-image: url("./images/digimons/2/level1.png");
}

.dig-2-level-2 {
  background-image: url("./images/digimons/2/level2.png");
}

.dig-2-level-3 {
  background-image: url("./images/digimons/2/level3.png");
}

.dig-2-level-4 {
  background-image: url("./images/digimons/2/level4.png");
}

.dig-2-level-5 {
  background-image: url("./images/digimons/2/level5.png");
}

.dig-2-level-6 {
  background-image: url("./images/digimons/2/level6.png");
}

.dig-3-level-1 {
  background-image: url("./images/digimons/3/level1.png");
}

.dig-3-level-2 {
  background-image: url("./images/digimons/3/level2.png");
}

.dig-3-level-3 {
  background-image: url("./images/digimons/3/level3.png");
}

.dig-3-level-4 {
  background-image: url("./images/digimons/3/level4.png");
}

.dig-3-level-5 {
  background-image: url("./images/digimons/3/level5.png");
}

.dig-3-level-6 {
  background-image: url("./images/digimons/3/level6.png");
}

.dig-4-level-1 {
  background-image: url("./images/digimons/4/level1.png");
}

.dig-4-level-2 {
  background-image: url("./images/digimons/4/level2.png");
}

.dig-4-level-3 {
  background-image: url("./images/digimons/4/level3.png");
}

.dig-4-level-4 {
  background-image: url("./images/digimons/4/level4.png");
}

.dig-4-level-5 {
  background-image: url("./images/digimons/4/level5.png");
}

.dig-4-level-6 {
  background-image: url("./images/digimons/4/level6.png");
}

.dig-5-level-1 {
  background-image: url("./images/digimons/5/level1.png");
}

.dig-5-level-2 {
  background-image: url("./images/digimons/5/level2.png");
}

.dig-5-level-3 {
  background-image: url("./images/digimons/5/level3.png");
}

.dig-5-level-4 {
  background-image: url("./images/digimons/5/level4.png");
}

.dig-5-level-5 {
  background-image: url("./images/digimons/5/level5.png");
}

.dig-5-level-6 {
  background-image: url("./images/digimons/5/level6.png");
}

/*# sourceMappingURL=App.css.map */
