$color-light: #F9E2AF;
$color-light-hover: #dec691;
$color-medium: #009FBD;
$color-medium-hover: #0084bd;
$color-dark-main: #210062;
$color-dark-secondary: #77037B;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  border: none;
  background-color: $color-medium;
  padding: 5px;
  color: $color-dark-secondary;
  font-weight: bold;

  &:hover {
    background-color: $color-medium-hover;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: $color-dark-main;
  gap: 10px;
}

.card {
  width: 200px;
  padding: 10px;
  background-color: $color-light;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $color-dark-secondary;

  &:hover {
    background-color: $color-light-hover;
  }

  img {
    width: 100%;
  }
}

.digimon-image {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.digimon-image-large {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.Agumon {
  background-image: url("./images/Agumon.png");
}

.Gatomon {
  background-image: url("./images/Gatomon.png");
}
.Guilmon {
  background-image: url("./images/Guilmon.png");
}
.Terriermon {
  background-image: url("./images/Terriermon.png");
}

.game-board {
  background-color: $color-light;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.board-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $color-medium;
  justify-content: space-between;
  align-items: center;
}

.hunger-bar {
  height: 40px;
  width: 100%;
  border: solid 1px $color-medium;
  border-radius: 5px;
  overflow: hidden;
}

.hunger {
  height: 100%;
  background-color: $color-medium;
}

.eggs {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 370px;
  overflow: auto;
  justify-content: center;
  align-content: flex-start;
  background-color: $color-light-hover;
  border-radius: 5px;
}

.egg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  margin: 5px;

  img {
    width: 50px;
  }
}

.feed-btn {
  height: 40px;
  width: 100%;
}